# Виртуальное окружение
venv/
.venv/
env/
ENV/

# Кэш Python и инструментов
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Среда разработки PyCharm
.idea/

# Секретные файлы
.env
.env.*
!.env.example

# Базы данных
*.sqlite3
*.db

# Файлы планировщика Celery Beat
celerybeat-schedule*

# Дампы и бэкапы баз данных
*.sql