# Виртуальное окружение (самое главное!)
venv/
.venv/
env/
ENV/

# Кэш Python и инструментов сборки
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Среда разработки PyCharm
.idea/

# Секретные файлы (пароли, ключи, токены)
.env
.env.*
!.env.example

# Базы данных (если используешь локальную SQLite)
*.sqlite3
*.db